Trilium/
triliumnext-mcp/
node_modules/
build/
*.log
.env*


.playwright-mcp/
.claude/*
#!.claude/agents/
#!.claude/rules/
#!.claude/skills/
#!.claude/settings.local.json

.agents/*
#!.agents/agents/
#!.agents/rules/
#!.agents/skills/

.codex/*
#!.codex/agents/
#!.codex/rules/
#!.codex/skills/
